body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.mapa-container {
  padding: 40px 20px;
  max-width: 1100px; /* Define uma largura máxima */
  margin: 0 auto;    /* ISSO AQUI CENTRALIZA O CONTEÚDO NO MEIO DA TELA */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o título "Selecione um Território" */
}

.mapa-container h2 {
  text-align: center;
  color: #1a1a1a;
  font-size: 2rem;
  margin-bottom: 40px;
}


.mapa-page-container {
  height: calc(100vh - 70px); /* Ocupa a tela toda menos o header */
  width: 100%;
}

.map-wrapper {
  height: 80%;
  width: 80%;
  margin-left: 180px;
  margin-top: 50px;
}
.status-badge {
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.status-badge.verde { background: #e3f9e5; color: #27ae60; }
.status-badge.amarelo { background: #fff9db; color: #f1c40f; }
.status-badge.vermelho { background: #ffe3e3; color: #e74c3c; }

.leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 5px;
}

.btn-abrir {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Estilo do balãozinho (Popup) */
.popup-content h3 {
  margin: 0 0 5px 0;
}

.popup-content button {
  background: #4a90e2;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}
.grid-bairros {
  display: grid;
  /* Cria colunas automaticamente conforme o espaço da tela */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 30px;
  width: 100%; /* Ocupa toda a largura do container */
  margin-top: 20px;
}

.card-bairro {
  background: white;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 6px solid #ccc; /* Detalhe na base em vez do topo */
}

.card-bairro:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

/* Cores de Status vibrantes */
.card-bairro.verde { border-bottom-color: #27ae60; background: #fafffb; }
.card-bairro.amarelo { border-bottom-color: #f1c40f; background: #fffdf5; }
.card-bairro.vermelho { border-bottom-color: #e74c3c; background: #fffafa; }

.card-bairro h3 {
  margin: 0 0 10px 0;
  color: #2c3e50;
  font-size: 1.5rem;
}

.card-bairro p {
  color: #7f8c8d;
  font-weight: 500;
  margin-bottom: 20px;
}

.btn-selecionar {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-selecionar:hover {
  background-color: #357abd;
}