
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; 
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start; 
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f2f5; 
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}